{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Sección Video Hero -->
    <section class="home-hero-video">
        <video autoplay muted loop playsinline poster="{% static 'images/home-placeholder.webp' %}">
            <source src="{% static 'videos/home-hero.mp4' %}" type="video/mp4">
        </video>
        <div class="hero-overlay"></div>
    </section>

    <main class="main-content">
        <header class="home-intro">
            <h1>Destacados</h1>
            <p>Sesiones Seleccionadas</p>
        </header>

        <!-- Contenedor principal de Swiper -->
        <section class="swiper collections-slider">
            <div class="swiper-wrapper">
                {% for col in collections %}
                    <div class="swiper-slide">
                        <a href="{% url 'collection_detail' col.slug %}" class="collection-card">
                            <div class="collection-image-wrapper">
                                {% if col.cover_video %}
                                    <video autoplay muted loop playsinline width="100%" height="100%" style="object-fit: cover;">
                                        <source src="{{ col.cover_video.file.url }}" type="video/mp4", loading="eager">
                                    </video>
                                {% elif col.cover %}
                                    <img src="{{ col.cover.image.url }}" alt="{{ col.title }}", loading="eager">
                                {% else %}
                                    <div style="height: 100%; width: 100%; background: #f4f4f4;"></div>
                                {% endif %}
                            </div>
                            <div class="collection-info">
                                <h2>{{ col.title }}</h2>
                                <div class="collection-meta">
                                    {% if col.get_photos_count > 0 and col.get_videos_count > 0 %}
                                        {{ col.get_photos_count }} Fotografía{{ col.get_photos_count|pluralize:"s" }} · {{ col.get_videos_count }} Video{{ col.get_videos_count|pluralize:"s" }}
                                    {% elif col.get_photos_count > 0 %}
                                        {{ col.get_photos_count }} Fotografía{{ col.get_photos_count|pluralize:"s" }}
                                    {% elif col.get_videos_count > 0 %}
                                        {{ col.get_videos_count }} Video{{ col.get_videos_count|pluralize:"s" }}
                                    {% endif %}
                                    <div class="slider-drag-layer"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            
            <!-- Solo Flechas de Navegación -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </section>

        <div class="show-all-wrapper">
            <a href="{% url 'collections_list' %}" class="show-all-link">
                Ver archivo completo <span class="arrow">→</span>
            </a>
        </div>
    </main>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
    window.addEventListener('load', function() {
        const swiper = new Swiper('.collections-slider', {
            slidesPerView: 'auto',
            centeredSlides: true,
            spaceBetween: 100,
            loop: true,
            
            // loopedSlides: 3,
            // watchSlidesProgress: true,

            loopedSlides: 8, 
            // loopAdditionalSlides: 5,
            watchSlidesProgress: true,
            convertToPopover: false,

            keyboard: true,
            grabCursor: true,

            touchReleaseOnEdges: true ,
            edgeSwipeThreshold: 20,
            
            speed: 3500,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
                pauseOnMouseEnter: true,
            },

            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            effect: 'coverflow',
            coverflowEffect: {
                slideShadows: false,
            },
        });
    });
    </script>
{% endblock %}